.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 10px 0;
  padding: 5px;
  width: 200px;
}

.create {
  padding: 10px;
  cursor: pointer;
  background-color: violet;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  width: 200px;
  margin-block: 10px;
}

.meetings {
  margin-block: 10px;
  font-weight: bold;
}

.meeting {
  margin-block: 10px;
  color:brown;
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: red;
}

.success {
  font-weight: bold;
  color: green;
}